@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
 /* Cores das fontes */
    --cor-primaria: #000000;
    --cor-secundaria:#F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;
/* Tipos de fontes */
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
/* Tamanho das fontes */
    --font-sizeMedia: 1.5rem;
    --font-sizeBig: 2.25rem;

}

*{
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);

}


.titulo-destaque {
    color: var(--cor-terciaria);
}


    .cabecalho{
        padding: 2% 0% 0% 15%;
    }
    .cabecalho__menu {
        display: flex;
        gap: 80px;
    }

    .cabecalho__menu__link {

        color: var(--cor-terciaria);
        font-family: var(--fonte-secundaria);
        font-size: var(--font-sizeMedia);
        font-weight: 600;
        text-decoration:none;
    }

    .apresentacao{
        padding: 5% 15%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 82px;
    }

    .apresentacao__conteudo{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .apresentacao__conteudo__titulo{
        font-size: var(--font-sizeBig);
        font-family: var(--fonte-primaria);
    }

    .apresentacao__conteudo__texto{
        font-size: var(--font-sizeMedia);
        font-family: var(--fonte-secundaria);
    }

    .apresentacao__links{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 32px; /* adiciona espaços iguais entre cada quadrado */
    }

    .apresentacao__links__subtitulo{
        font-family: var(--fonte-primaria);
        font-weight: 400;
        font-size: var(--font-sizeMedia);

    }

    .apresentacao__links__navegacao {
        /* background-color: #22D4FD; */ 
        display: flex;
        justify-content: center;  
        width: 50%;
        gap: 16px;      
        border: 2px solid var(--cor-terciaria);
        text-align: center;
        border-radius: 8px;
        font-size: var(--font-sizeMedia);
        font-weight: 600;
        font-style: normal;
        line-height: 36px;
        padding: 21.5px 0;
        text-decoration: none; /* para tirar a aparência de link do texto */
        color: var(--cor-secundaria);
        font-family: var(--fonte-secundaria);
    }

    .apresentacao__links__navegacao:hover {
        background-color: var(--cor-hover);
    }

    .apresentacao__imagem {
       width: 50%; 
}
    .rodape {
        background-color: var(--cor-terciaria);
        padding: 24px;
        color: var(--cor-primaria);
        font-family: var(--fonte-secundaria);
        font-size: var(--font-sizeMedia);
        text-align: center;
        font-weight: 400;
        line-height: 36px;
    }

    @media (max-width: 1200px) {
                
        .cabecalho{
            padding: 10%;
        }

        .apresentacao{
            padding: 5% ;
        }

        .apresentacao__conteudo{
            width: auto;
        }

        .cabecalho__menu{
            justify-content: center;
        }

        .apresentacao {
            flex-direction: column-reverse;
        }        
    }
